
<div class="spam-signal-flow-conditions-child card flex-col justify-between py-4 px-4">
  <div class="flex justify-between">
    <h5 class="h5"><%= I18n.t("title", scope: "decidim.spam_signal.admin.condition") %></h4>
    <button class="button button__sm button__transparent-secondary small alert remove-condition-item-child button--title">
      <%= icon("close-line", title: t(".remove")) %>
    </button>
  </div>
    <% if defined?(flow_condition) && flow_condition %>
      <%= f.select :anti_spam_condition_id, 
                   available_conditions.collect { |c| ["#{c.name} (#{c.condition_type})", c.id] },
                   { class: "anti-spam-condition", selected: flow_condition.id }
                    %>
    <% else %>
      <%= f.select :anti_spam_condition_id, 
                   available_conditions.collect { |c| ["#{c.name} (#{c.condition_type})", c.id] },
                   { prompt: "Select a condition" },
                   { class: "anti-spam-condition", required: true } %>
    <% end %>
</div>
