<% available_flows.each do |flow_name| %>
  <%= link_to new_flow_path(trigger_type: flow_name), class: "pick__buttons" do %>
    <h4 class="pick__buttons-title">
      <%= t("decidim.spam_signal.admin.flow.#{flow_name.demodulize.underscore}.title") %>
    </h4>
    <p class="pick__buttons-description">
      <%= t("decidim.spam_signal.admin.flow.#{flow_name.demodulize.underscore}.description") %>
    </p>
  </button>
  <% end %>
<% end %>
