
<% add_secondary_root_menu(:admin_settings_menu) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t("title", scope: "decidim.spam_signal.flow") %> 
  </h1>
</div>

<h2><%= "#{flows.count} flows" %></h2>
<%= link_to "New flow", new_flow_path, class: "button" %>

<%= render partial: "flow_table", locals: { flows: flows } %>