<td class="w-[40%] !text-left !pl-4">
  <% moderation.reports.includes(:flows).each do |report| %>
    <% report.flows.distinct.each do |flow| %>
      <% trigger_label = t("decidim.spam_signal.admin.flow.trigger_label") %>
      <% trigger = t("decidim.spam_signal.admin.flow.#{flow.trigger_type.demodulize.underscore}.title") %>
      <% conditions_label = t("decidim.spam_signal.admin.conditions.title") %>
      <% conditions = flow.conditions.flat_map do |condition| %>
        <% [condition.name.strip, "(#{condition.condition_type})"] %>
      <% end %>
      <% conditions = conditions.join(" ") %>
      <% rules_label = t("decidim.spam_signal.admin.flows.form.actions") %>
      <% rules = flow.action_settings.flat_map { |rule| rule.select { |_k, v| v == true }.keys.map { |k| t("decidim.spam_signal.admin.actions.#{k}") } } %>
      <% rules = rules.join(", ") %>
      <p><%= with_tooltip(safe_join(["#{trigger_label}: #{trigger}", "#{conditions_label}: #{conditions}", "#{rules_label}: #{rules}"], tag.br + tag.br), class: :top) { link_to flow.name, "/admin/spam_signal/flows/#{flow.id}/edit", target: "_blank", rel: "noopener noreferrer", data: { external_link: false } } %></p>
    <% end %>
  <% end %>
</td>
