<%= append_stylesheet_pack_tag "decidim_spam_signal" %>

<% add_secondary_root_menu(:admin_settings_menu) %>

<% add_decidim_page_title(t("title", scope: "decidim.spam_signal.admin.spam_signals.show.headings")) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t("title", scope: "decidim.spam_signal.admin.spam_signals.show.headings") %>
  </h1>
</div>

<!-- Tab container -->
<div class="tabs">
  <div class="tab active" data-content-id="general">General</div>
  <div class="tab" data-content-id="conditions">Conditions</div>
  <div class="tab" data-content-id="flows">Flows</div>
</div>

<!-- Tab content -->
<div id="general" class="content active">
  <h2>General</h2>
</div>

<div id="conditions" class="content">
  <h2>Conditions</h2>
</div>

<div id="flows" class="content">
  <h2>Flows</h2>
</div>

<%= append_javascript_pack_tag "decidim_spam_signal" %>