/* General tab */
.general {
  padding: 0;
  margin: 0;
  h1 {
    font-size: 20px;
    padding-bottom: 20px;
    color: dimgrey;
  }
}

.general.columns {
  display: flex;
  width: 50%;
  h2 {
    font-weight: bold;
  }
}

.general.column {
  width: 50%;
  ol {
    list-style: decimal;
    padding-left: 2rem;
  }
}

.general.divider {
  border-top: 1px solid #6B7280CC;
  margin-top: 20px;
}

.condition__header {
  @apply flex items-center pb-4 border-b mb-4 gap-x-2;

  &-title {
    @apply text-lg font-bold block sm:flex items-center justify-between gap-4 w-full first-letter:capitalize first:[&>div]:ml-0 first:[&>*]:ml-auto;
  }
}

.condition__content {
  @apply flex flex-col border-2 border-[#D1D5DB] p-5 space-y-5;
}

/* Style for the button */
.pick__buttons {
    @apply w-full p-5 border-2 border-[#D1D5DB] hover:border-[#E0F2FECC] p-5 mb-2 hover:bg-[#E0F2FECC];

    &-title {
      @apply flex m-0 font-bold text-[#3B82F6]; 
    }

    &-description {
      @apply flex text-[#9CA3AF]; 
    }
} 
