/* General tab */
.general {
  padding: 0;
  margin: 0;
  h1 {
    font-size: 20px;
    padding-bottom: 20px;
    color: dimgrey;
  }
}

.general.columns {
  display: flex;
  width: 50%;
  h2 {
    font-weight: bold;
  }
}

.general.column {
  width: 50%;
  ol {
    list-style: decimal;
    padding-left: 2rem;
  }
}

.general.divider {
  border-top: 1px solid #6B7280CC;
  margin-top: 20px;
}

/* Style for the button */
.pick-buttons {
    @apply flex w-full p-5 border mb-2;

    &__title {
      @apply m-0; 
    }

    &__description {
      @apply m-5; 
    }
} 


