<ul>
  <% flows.each do |flow| %>
  <li><%= t("decidim.spam_signal.flow.#{flow.trigger_type.demodulize.underscore}.title") %></li>
  <li><%= flow.name %></li>
  <li>conditions: <%= flow.conditions.size %></li>
  <li><%= link_to "edit", edit_flow_path(flow) %></li>
  <% end %>
</ul>