<ul>
  <% conditions.each do |condition| %>
  <li><%= t("decidim.spam_signal.flow.#{condition.condition_type.demodulize.underscore}.title") %></li>
  <li><%= condition.name %></li>
  <li>conditions: <%= condition.conditions.size %></li>
  <li><%= link_to "edit", edit_condition_path(condition) %></li>
  <% end %>
</ul>