<div class="form__wrapper">
  <div class="card">
    <div class="row column">
      <%= form.text_field :name, required: true, class: "tabs-content" %>
    </div>
    <%= form.fields_for :settings, @condition_form do |condition_form| %>
    <div class="row column">
      <%= condition_form.all_fields %>
    </div>
    <% end %>
  </div>
</div>
