<%= form_with model: Decidim::SpamSignal::Condition.new, url: conditions_path, method: :post do |form| %>
  <% available_conditions.each do |condition_name| %>
    <button type="submit" name="condition[condition_type]" value="<%= condition_name.to_s %>" class="pick__buttons">
      <h4 class="pick__buttons-title">
        <%= t("condition_type.#{condition_name.to_s}", scope: "decidim.spam_signal.admin.conditions") %>
      </h4>
      <p class="pick__buttons-description">
        <%= t("condition_type.#{condition_name.to_s}_description", scope: "decidim.spam_signal.admin.conditions") %>
      </p>
    </button>
  <% end %>
<% end %>
