<div class="item_show__header">
  <h1 class="item_show__header-title">
   <%= I18n.t("new.title", scope: "decidim.spam_signal.admin.conditions") %> 
  </h1>
</div>
<div class="item__edit-form">
  <%= form_with model: Decidim::SpamSignal::Condition.new, url: conditions_path, html: { class: "form form-defaults" }, method: :post, builder: Decidim::SpamSignal::SpamSettingsFormBuilder do |form| %>
    <%= render partial: "form", object: form %>
    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= form.submit I18n.t("actions.create", scope: "decidim.spam_signal.admin.conditions"), class: "button button__sm button__secondary" %>
      </div>
    </div>
  <% end %> 
</div>
